{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      PROTOTYPE
    </strong>
    <span class="govuk-phase-banner__text">
      This is not a real service
  </p>
</div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Who are you making this claim for?
      </h1>

      <form class="form" action="/start-date" method="post">

        <p>
        
            {{ govukInput({
                label: {
                  text: "First name"
                },
                name: "firstName",
                value: data['first-name'],
                autocomplete: "first-name"
            }) }}

            {{ govukInput({
              label: {
                text: "Middle name"
              },
              name: "middleName",
              value: data['middle-name'],
              autocomplete: "middle-name"
          }) }}

          {{ govukInput({
            label: {
              text: "Last name"
            },
            name: "lastName",
            value: data['last-name'],
            autocomplete: "last-name"
        }) }}
          
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
